{% extends 'base.html.twig' %}

{% block title %}Page entreprises{% endblock %}

{% block menu %}
{{parent()}}
{% endblock %}

{% block body %}

<h1> Cette page affichera la liste des entreprises proposant un stage </h1>

{% endblock %}

{% block footer %}{% endblock %}
