{% extends 'base.html.twig' %}

{% block title %}Page entreprises{% endblock %}

{% block body %}

<h1> Cette page affichera la liste des entreprises proposant un stage </h1>

<div class="container-fluid">
  <div class="row">
  
		<div class="col-md-4 col-xs-1 mx-auto">
			<div class="card">
				<div class="card-body">
				  <h5 class="card-title">unNom : Safran</h5>
				  <p class="card-text">uneAdresse : 83 rue de nulle part, 72497 SOMEWHERE</p>
				  <p class="card-text">uneActité : Microcontrôleur aviation</p>
				  <p class="card-text">unTelephone : 07.20.38.20.50</p>
				  <p class="card-text">uneURL : https://www.safran-group.com/</p>
				</div>
			</div>
		</div>
		
    </div>
</div>

{% endblock %}

