{% extends 'base.html.twig' %}

{% block title %}Page formations{% endblock %}

{% block body %}

<h1> Cette page affichera la liste des formations de l'IUT </h1>

<div class="container-fluid">
  <div class="row">
  
		<div class="col-md-4 col-xs-1 mx-auto">
			<div class="card">
				<div class="card-body">
				  <h5 class="card-title">unIntitule : DUT Informatique</h5>
				  <p class="card-text">unEtablissementAccueil : IUT de Bayonne et du Pays Basque</p>
				  <p class="card-text">unNiveau : BAC+2</p>
				  <p class="card-text">unVilleFormation : Anglet</p>
				</div>
			</div>
		</div>
		
    </div>
</div>

{% endblock %}