{% extends 'base.html.twig' %}

{% block title %}Page formations{% endblock %}

{% block menu %}{% endblock %}

{% block body %}

<h1> Cette page affichera la liste des formations de l'IUT </h1>

{% endblock %}

{% block footer %}{% endblock %}