{% extends 'base.html.twig' %}

{% block title %}Page stages{% endblock %}

{% block body %}

<h1> Cette page affichera le descriptif du stage ayant pour identifiant {{stage.id}} </h1>

{% endblock %}
