<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Prostages{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block menu %}------ MENU ------{% endblock %}
		{% block body %}{% endblock %}
		{% block footer %}------ FOOTER ------{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
